:root{
background-color:bisque;
}

.Container{
flex-direction:column;
width:100%;
border-width:1px;
}


.CustomLabel{
color:black;
}


.CustomOperationButton{
width:30px;
height:30px;
transition:0.5s all;
border-radius:10px;

}

.CustomOperationButton:hover{
background-color:green;
border-radius:20px;
}